<div class="details__wrapper-img">
    <img src="./img/books/{{Image}}" class="details-img" alt="{{Title}}">
</div>
<div class="details__wrapper-desc">
    <div class="closeDisplay" id="closeDisplay"><u>close</u></div>
    <div class="header__h2">{{Title}}</div>
    <div class="header__h3">{{Author}}</div>
    <div class="header__h2">{{Rating}}</div>
    <br>
    <lable for="input_amount">Quantity</lable><input type="text" id="input_amount">
    <input type="button" text="Add To Cart" id="btn_addToCart{{ISBN}}">
    <p class="header__h4">
        {{Summary}}
    </p>
</div>

