
 <div class="cart-row wrapper"> 
     <div class="wrapper-desc div-left">&nbsp;</div>
     <div class="wrapper-desc div-right summary">
        <div class="confirmation__box-row summary">
            <div>Basket Value</div>
            <div>Rs. {{TotalPrice}}</div>
        </div> 
        <div class="confirmation__box-row summary">
            <div>GST @ {{GstRate}}</div>
            <div>Rs. {{GST}}</div>
        </div> 
        <div class="confirmation__box-row border_row summary">
            <div>Delivery Charges</div>
            <div>Rs. {{DeliveryCharge}}</div>
        </div>
        <div class="confirmation__box-row summary">
            <div>Total Amount Payable</div>
            <div>Rs. {{FinalPrice}}</div>
        </div>
     </div>
 </div>

 <div class="wrapper cart-row-heading">
    <div class="header-title wrapper-heading-title">&nbsp;</div>
    <div class="wrapper-heading-title header-continue" id="btn_continue_bottom">        
       <u>Continue shopping..</u>
    </div>
    <div class="header-checkout wrapper-text" id="btn_payment_bottom">
        Checkout 
    </div>
</div>